@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  @include card-base;
  
  &.none {
    padding: 0;
  }
  
  &.sm {
    padding: $spacing-sm;
  }
  
  &.md {
    padding: $spacing-md;
  }
  
  &.lg {
    padding: $spacing-lg;
  }
}

